<a href="https://colab.research.google.com/github/aniketgite/DevopsDemoRepo/blob/main/basicpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=2
x/=5
print(x)

0.4

In [ ]:
print(x)

0.4

In [ ]:
#comparison operator
a=10
b=20
print(a==b)

False

In [ ]:
a=10
b=20
print(a!=b)

True

In [ ]:
car=55
print(car>100 and car<50)

False

In [ ]:
weather="sunny"
print(weather=="sunny" and weather=="cloudy")

False

In [ ]:
#####Lists
brand=["zara","peter england","tommy","puma","reebok"]
print(type(brand))
print(len(brand))

<class 'list'>
5

In [ ]:
print(brand[0])
print(brand[1])

zara
peter england

In [ ]:
brand.append("ucb")
print(brand)

['zara', 'peter england', 'tommy', 'puma', 'reebok', 'ucb']

In [ ]:
brand[0]="Nike"
print(brand)

['Nike', 'peter england', 'tommy', 'puma', 'reebok', 'ucb']

In [ ]:
brand.pop()  #remove last
print(brand)
brand.pop(0)  #remove first
print(brand)

['Nike', 'peter england', 'tommy', 'puma']
['peter england', 'tommy', 'puma']

In [ ]:
brand=['peter england', 'tommy', 'puma']
brand.remove("puma")
print(brand)
#brand.clear(1)
print(brand)

['peter england', 'tommy']
['peter england', 'tommy']

In [ ]:
brand.clear()
print(brand)

[]

In [ ]:
brand=["zara","peter england","tommy","puma","reebok"]
brand.sort(reverse= True)
print(brand)

['zara', 'tommy', 'reebok', 'puma', 'peter england']

In [ ]:
brand.insert(1,"levis")
print(brand)

['zara', 'levis', 'tommy', 'reebok', 'puma', 'peter england']

In [ ]:
#tuple
#it is immutabel-cannot change
car=("suzuki","honda","tata","mahindra")
print(type(car))

<class 'tuple'>

In [ ]:
car.append("bajaj")
print(car)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#want to change tuple then need to change data type to list
car_1=list(car)
print(type(car_1))
print(car_1)

<class 'list'>
['suzuki', 'honda', 'tata', 'mahindra']

In [ ]:
car_1.insert(1,"tesla")
print(car_1)

['suzuki', 'tesla', 'honda', 'tata', 'mahindra']

In [ ]:
car=tuple(car_1)
print(type(car))
print(car)

<class 'tuple'>
('suzuki', 'tesla', 'honda', 'tata', 'mahindra')

In [ ]:
a=("abc")
print(type(a))

<class 'str'>

In [ ]:
####sets
#unordered
#unchangable
#duplictes not allowed

emp_id={1234,1232,1236,2314}
print(type(emp_id))
print(emp_id)

<class 'set'>
{1232, 1234, 2314, 1236}

In [ ]:
###dictonaries
#key value pair
#Key:value
#ordered, changable but duplicates not allowed

school={"name":"spgh","strength":2000,"model":"english","est":1990}
print(len(school))
print(type(school))

4
<class 'dict'>

In [ ]:
#can take the values by assigning new variable
x=school["model"]
print(x)

english

In [ ]:
x=["kishore,kumar"]
school={"name":"spgh","strength":2000,"model":x,"est":1990}
print(school)
print(type(school))

{'name': 'spgh', 'strength': 2000, 'model': ['kishore,kumar'], 'est': 1990}
<class 'dict'>

In [ ]:
#not allowed duplicates in dictonaries
school={"name":"spgh","strength":2000,"model":"english","est":1990,"model":"hindi"}
print(school)

{'name': 'spgh', 'strength': 2000, 'model': 'hindi', 'est': 1990}

In [ ]:
#Loop
#python support for and while loop. does not support do while loop.
#for= declaration, condition, increment/decrement
for i in range(10):
     print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10+1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(5):
  print("intellipaat")

intellipaat
intellipaat
intellipaat
intellipaat
intellipaat

In [ ]:
#while= repeat statement while given condition become true
counter=0;
while counter<10:  #0<10
  print("intellipaat")
  counter=counter+3 #0+3 #3+3 #6+3 #9+3

intellipaat
intellipaat
intellipaat
intellipaat

In [2]:
for i in range(5):
  print(i)
  if i==2:
    print("I am breaking the value more than 2")
    break

0
1
2
I am breaking the value more than 2

In [3]:
for i in range(5):
  print(i)
  if i==2:
    print("I am breaking the value more than 2")
    continue

0
1
2
I am breaking the value more than 2
3
4

In [5]:
# pass statement- syntactically condition needs but no need to give statement
for i in range(5):
  print(i)
  if i==2:
    pass #skip

0
1
2
3
4